/*Designed by xiao555
 Mar.2016*/
@charset "utf-8";

* {
	margin: 0;
	padding: 0;	
}

html,.header,.container {
	min-width: 1280px;
}
body {
    font-size: 12px;
    font-family:"SimHei","Microsoft Yahei","Arial";
    color:#666;
    background: #eeedec;
}

a {
	color: #000;
	text-decoration: none;
}

input,button,select,textarea{outline:none} /*去除chrome下input选中后的边框*/
/*icon*/
[class^="icon"] {
	display: inline-block;
	background: url(images/sprite.png) no-repeat;
}

.icon-date {
  width: 34px;
  height: 34px;
  background-position: 0 -447px;
}

.icon-search {
  width: 20px;
  height: 20px;
  background-position: -9px -738px;
}

.icon-user {
  width: 30px;
  height: 30px;
  background-position: -11px -819px;
}

.icon-jt,
.icon-doc,
.icon-txt,
.icon-star,
.icon-book,
.icon-pos,
.icon-table {
  position: relative;
  top: 1px;
  width: 18px;
  height: 14px;
}

.icon-table {
  background-position: -7px -11px;
}

.icon-star {
  background-position: -7px -133px;
}

.icon-pos {
  background-position: -7px -170px;
}

.icon-book {
  background-position: -7px -212px;
}

.icon-doc {
  background-position: -7px -52px;
}

.icon-txt {
  background-position: -7px -93px;
}

.icon-jt {
  background-position: -7px -528px;
}

.icon-sel {
  width: 18px;
  height: 18px;
  background-position: -7px -582px;
}
/*header*/

.header {
	position: relative;
	background-color: #2189bf;
	height: 56px;
	width: 100%;
	top: 0;
}

.logo {
	position: absolute;
	background-color: #fff;
	height: 36px;
	width: 36px;
	margin-left: 40px;
	margin-top: 10px;
}

.logo:after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	right: 0;
	bottom: 0;
	border-top: 3px solid #2189BF;
	border-left: 3px solid #2189BF;
}

.search-bar {
	position: absolute;
	background-color: #FFFFFF;
	right: 180px;
	height: 30px;
	width: 330px;
	margin-top: 10px;
	border-radius: 15px;
}

.icon-search {
	position: absolute;
	top: 5px;
	left: 15px;
}

.search-bar input {
	display: block;
	position: relative;
	width: 170px;
	height: 20px;
	margin: 5px 10px 0 40px;
	border: none;
}

.login {
	color: #FFFFFF;
	position: absolute;
	right: 120px;
	margin: 12px 0 0 10px;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: url(images/login.png) no-repeat 0 6px;
}

/*container*/

.container {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
}
/*sidebar*/
.sidebar {
	position: relative;
	width: 260px;
	height: 100%;
	background-color: #2a2e3d;
	bottom: 0px;
	float: left;
}

.userMsg {
	height: 150px;
}
.user {
	height: 90px;
}

.user-head {
	position: absolute;
	width: 58px;
	height: 58px;
	border-radius:  29px;
	border: 1px solid #b2aaad;
	margin-left: 50px;
	margin-top: 16px;
}

.user-head img {
	position: relative;
	left: 4px;
	top: 4px;
	width: 50px;
	border-radius: 25px;
}

.user-name {
	font-size: 18px;
	margin-left: 130px;
	height: 90px;
	line-height: 90px;
	color: #FFFFFF;
}

.user-info {
	position: relative;
	height: 60px;
}
.collect {
	position: absolute;
	width: 130px;
	height: 100%;
	float: left;
	padding-left: 70px;
	color: #6e8095;
	font-size: 14px;
}

.fans {
	position: absolute;
	height: 25px;
	width: 50%;
	float: left;
	margin-left: 130px;
	color: #6e8095;
	font-size: 14px;
	padding-left: 30px;
	border-left: 1px solid #313645;
}

/*user-action*/
.menu-list.active , .menu-list:hover {
	background: #383d4e;

}

.menu-list dt,.menu-list dd {
	cursor: pointer;
	line-height: 28px;
}

.menu-list.active .menu-title,
.menu-list.active > dt b {
	color: #FFFFFF;
	opacity: 1;
}

.menu-list {
	color: #6E8095;
	padding: 5px 0 5px 40px;
}

.child-tree {
	padding-left: 20px;
}

.child-tree dd {
	padding-left: 40px;
}
.child-tree dd.active,
.child-tree dd.active b {
	color: #FFFFFF;
	opacity: 1;
}

.child-tree dt.active {
	color: #fff;
}

.child-tree dt.active b {
	color: #fff;
	opacity: 1;
}
dt.active .icon-jt {
	transform: rotate(90deg);
}

.menu-list b {
	opacity: .5;
}

/*content*/
.content {			/*两栏布局???*/
	position: relative;
	margin-left: 260px;
}


.route {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	color: #AAAAAA;
	background-color: #FFFFFF;
}

.route > a {
	color: #aaa;
	padding: 0 5px;
} 

.route a:last-child {
	color: #2189bf;
}

/*content-inner*/
.content-inner {
	position: relative;
	height: 100%;
	padding: 20px 60px;
}

.query {
	height: 70px;
    padding-top: 15px;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.query-opt {
	box-sizing: border-box;
	width: 20%;
	float: left;
	text-align: center;
}

.query-opt span {
	color: #aaa;
	font-size: 14px;
	
}

.query-opt .select-box {
	display: inline-block;
}

.query-opt .select-box .select-title {
	position: relative;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
    text-align: left;
    border: 1px solid #aaa;
    cursor: pointer;
}
.query-opt .select-box .select-list {
	display: none;
}
