/*Designed by xiao555
 Mar.2016*/
@charset "utf-8";

* {
	margin: 0;
	padding: 0;	
}

html,.header,.container {
	min-width: 1280px;
}
body {
    font-size: 12px;
    font-family:"SimHei","Microsoft Yahei","Arial";
    color:#666;
    background: #eeedec;
}

a {
	color: #000;
	text-decoration: none;
}

input,button,select,textarea {
	outline:none
} /*去除chrome下input选中后的边框*/

ol, ul {
    list-style: none;
}

[class^='btn'] {
    padding: 3px 13px;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #fff;
    cursor: pointer;
    transition: .2s background ease-out;
}

/*icon*/
[class^="icon"] {
	display: inline-block;
	background: url(images/sprite.png) no-repeat;
}

.icon-date {
  width: 34px;
  height: 34px;
  background-position: 0 -447px;
}

.icon-search {
  width: 20px;
  height: 20px;
  background-position: -9px -738px;
}

.icon-user {
  width: 30px;
  height: 30px;
  background-position: -11px -819px;
}

.icon-jt,
.icon-doc,
.icon-txt,
.icon-star,
.icon-book,
.icon-pos,
.icon-table {
  position: relative;
  top: 1px;
  width: 18px;
  height: 14px;
}

.icon-table {
  background-position: -7px -11px;
}

.icon-star {
  background-position: -7px -133px;
}

.icon-pos {
  background-position: -7px -170px;
}

.icon-book {
  background-position: -7px -212px;
}

.icon-doc {
  background-position: -7px -52px;
}

.icon-txt {
  background-position: -7px -93px;
}

.icon-jt {
  background-position: -7px -528px;
}

.icon-sel {
  width: 18px;
  height: 18px;
  background-position: -7px -582px;
}
/*header*/

.header {
	position: relative;
	background-color: #2189bf;
	height: 56px;
	width: 100%;
	top: 0;
}

.logo {
	position: absolute;
	background-color: #fff;
	height: 36px;
	width: 36px;
	margin-left: 40px;
	margin-top: 10px;
}

.logo:after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	right: 0;
	bottom: 0;
	border-top: 3px solid #2189BF;
	border-left: 3px solid #2189BF;
}

.search-bar {
	position: absolute;
	background-color: #FFFFFF;
	right: 180px;
	height: 30px;
	width: 330px;
	margin-top: 10px;
	border-radius: 15px;
}

.icon-search {
	position: absolute;
	top: 5px;
	left: 15px;
}

.search-bar input {
	display: block;
	position: relative;
	width: 170px;
	height: 20px;
	margin: 5px 10px 0 40px;
	border: none;
}

.login {
	color: #FFFFFF;
	position: absolute;
	right: 120px;
	margin: 12px 0 0 10px;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: url(images/login.png) no-repeat 0 6px;
}

/*container*/

.container {
	position: absolute;
	top: 56px;
	left: 0;
	right: 0;
	bottom: 0;
}
/*sidebar*/
.sidebar {
	position: relative;
	width: 260px;
	height: 100%;
	background-color: #2a2e3d;
	bottom: 0px;
	float: left;
}

.userMsg {
	height: 150px;
}
.user {
	height: 90px;
}

.user-head {
	position: absolute;
	width: 58px;
	height: 58px;
	border-radius:  29px;
	border: 1px solid #b2aaad;
	margin-left: 50px;
	margin-top: 16px;
}

.user-head img {
	position: relative;
	left: 4px;
	top: 4px;
	width: 50px;
	border-radius: 25px;
}

.user-name {
	font-size: 18px;
	margin-left: 130px;
	height: 90px;
	line-height: 90px;
	color: #FFFFFF;
}

.user-info {
	position: relative;
	height: 60px;
}
.collect {
	position: absolute;
	width: 130px;
	height: 100%;
	float: left;
	padding-left: 70px;
	color: #6e8095;
	font-size: 14px;
}

.fans {
	position: absolute;
	height: 25px;
	width: 50%;
	float: left;
	margin-left: 130px;
	color: #6e8095;
	font-size: 14px;
	padding-left: 30px;
	border-left: 1px solid #313645;
}

/*user-action*/
.menu-list.active , .menu-list:hover {
	background: #383d4e;

}

.menu-list dt,.menu-list dd {
	cursor: pointer;
	line-height: 28px;
}

.menu-list.active .menu-title,
.menu-list.active > dt b {
	color: #FFFFFF;
	opacity: 1;
}

.menu-list {
	color: #6E8095;
	padding: 5px 0 5px 40px;
}

.child-tree {
	padding-left: 20px;
}

.child-tree dd {
	padding-left: 40px;
}
.child-tree dd.active,
.child-tree dd.active b {
	color: #FFFFFF;
	opacity: 1;
}

.child-tree dt.active {
	color: #fff;
}

.child-tree dt.active b {
	color: #fff;
	opacity: 1;
}
dt.active .icon-jt {
	transform: rotate(90deg);
}

.menu-list b {
	opacity: .5;
}

/*content*/
.content {			/*两栏布局???*/
	position: relative;
	margin-left: 260px;
}


.route {
	height: 30px;
	line-height: 30px;
	padding-left: 30px;
	color: #AAAAAA;
	background-color: #FFFFFF;
}

.route > a {
	color: #aaa;
	padding: 0 5px;
} 

.route a:last-child {
	color: #2189bf;
}

/*content-inner*/
.content-inner {
	position: relative;
	height: 100%;
	padding: 20px 60px;
}

.query {
	height: 70px;
    padding-top: 15px;
    box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
}

.query-opt {
	box-sizing: border-box;
	width: 20%;
	float: left;
	text-align: center;
}

.query-opt > span {
	color: #aaa;
	font-size: 14px;
	
}

.query-opt .select-box {
	display: inline-block;
}

.query-opt .select-box .select-title {
	position: relative;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
    text-align: left;
    border: 1px solid #aaa;
    cursor: pointer;
}
.query-opt .select-box .select-list {
	display: none;
}

.deal-opt {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 20%;
	float: left;
	text-align: center;
}

.buy > span,.sell > span {
	color: #aaa;
	font-size: 14px;
}

.buy .select-box,.sell .select-box {
	display: inline-block;
}

.buy .select-box .select-title,
.sell .select-box .select-title {
	position: relative;
	width: 120px;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
    text-align: left;
    border: 1px solid #aaa;
    cursor: pointer;
}

.buy .select-box .select-title b,
.sell .select-box .select-title b {
	position: absolute;
	right: 5px;
}

.sell {
	margin-top: 10px;
}

.icon-huan {
	position: absolute;
    line-height: 59px;
    left: 180px;
    height: 63px;
    width: 41px;
    background-position: -5px -914px;
    color: #fff;
}

.other-opt {
	box-sizing: border-box;
	width: 30%;
	float: left;
	text-align: left;
	margin-left: 30px;
}

.line1 ,.line2 {
	display: flex;
/*	float: left;*/
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
}

.line2 {
	margin-top: 10px;
}
.line1 > span,
.line2 > span {
	color: #aaa;
	font-size: 14px;
	margin-left: 10px;
}

.line1 .select-box,
.line2 .select-box {
	display: inline-block;
	margin-left: 10px;
}

.line1 .select-box .select-title,
.line2 .select-box .select-title {
	position: relative;
    height: 23px;
    line-height: 23px;
    padding-left: 8px;
    text-align: left;
    border: 1px solid #aaa;
    cursor: pointer;
} 


.time-box {
	width: 120px;
	top: 0;
}

.trading-box {
	width: 115px;
}

.trading-box b {
	position: absolute;
	right: 2px;
}

.search-btn {
	box-sizing: border-box;
	width: 10%;
	float: left;
	text-align: left;
	margin-left: 40px;
	margin-top: 15px;
}

.search-btn .btn {
	height: 25px;
	width: 55px;
	border-color: #2189bf;
    background: #2189bf;
    color: #fff;
}

/*history*/
.history {
	position: relative;
	height: 65px;
	margin-top: 10px;
}

.lists {
	padding-right: 140px;
	height: 100%;
}

.lists-box {
	position: relative;
	width: 100%;
	padding: 0 36px 0 36px;
	box-sizing: border-box;
}

.history-items {
	width: 100%;
}

.history-items li {
	background-color: #fff;
	float: left;
	width: 16.6%;
	height: 65px;
	box-sizing: border-box;
	border-right: 4px solid #eeeeed;
	text-align: center;
	cursor: pointer;
}
.history-items li p {
	padding-top: 4px;
}
.history-items li.active p{
	border-top: 4px solid #2189BF;
	padding-top: 0;
}

.history-items li p {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.history-items li h4 span {
	position: absolute;
	font-size: 14px;
    color: #aaa;
    margin-left: -10px;
    margin-top: 3px;
}

.history-items li h4{
	font-size: 21px;
    color: #ec6500;
    text-align: center;
    padding-left: 10px;
}

.icon-pre,.icon-next {
	position: absolute;
    top: 0;
    width: 30px;
    height: 65px;
    background-color: #fff;
}
.icon-pre {
	left: 0;
    background-position: 0 -264px;
}

.icon-next {
	right: 5px;
    background-position: 1px -342px;
}
.history-query {
	position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 65px;
    line-height: 65px;
    line-height: 65px;
    background-color: #fff;
}

.history-query b {
	margin-top: 15px;
	margin-left: 15px;
}

.history-query span {
	position: absolute;
	height: 65px;
	line-height: 65px;
	font-size: 14px;
	margin-left: 10px;
}


