/*Designed by 西电百度俱乐部
2016/3/27 */
@charset "utf-8";

/*字体*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1458294480_350837.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1458294480_350837.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1458294480_350837.woff') format('woff'), /* chromeã€firefox */
  url('//at.alicdn.com/t/font_1458294480_350837.ttf') format('truetype'), /* chromeã€firefoxã€operaã€Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1458294480_350837.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e601";
}


* {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    font-family: "微软雅黑";
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    color: #696266;
    background-color: #f2f2f2;
}
    
a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
.container {
	font-size: 14px;
	max-width: 10rem;
	margin:0;
	overflow: hidden;
}

/*header*/

.header {
	display: flex;
	position: relative;
	width: 100%;
	height: 1.16rem;
	line-height: 1.16rem;
	background-color: #91d4da;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
	vertical-align: middle;
	justify-content: center;
}

.header a {
	position: absolute;
	left: 0.2rem;
}
.header-back .icon-back {
	height: 100%;
	width: auto;
	font-size: 18px;
  display: inline-block;
  margin-right: 0;
  color:#FFFFFF;
  font-weight: lighter;
  float: left;
}

.header-back p {
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	cursor:pointer;
}

.header .title {
	display: block;
	height: 100%;
	width: auto;
	color: #FFFFFF;
	justify-content: center;
}

/*nav*/

.nav {
	display: flex;
	width: 100%;
	height: 45px;
	justify-content: center;
	background-color: #FFFFFF;
}

.nav-item {
	line-height: 1.2rem;
	text-align: center;
	-webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;   
}

.nav-item.active {
	border-bottom: 0.08rem solid #91d4da;
}

/*banner*/

.banner {
	height: 5.4rem;
}

/*tab*/

.tab {
	background-color: #FFFFFF;
	position: relative;
	display: flex;
	height: 2.96rem;
	justify-content: space-around;
}

.tab-item {
	display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tab-item-img {
	width: 1.2rem;
	height: 1.2rem;
	background: url(img/tab.png) no-repeat 50% 0%;
  background-size: contain;
}
.tab-item p {
	margin-top: 0.5rem;
	text-align: center;
}

.tab:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 3%;
    display: block;
    width: 94%;
    height: 0.02rem;
    background-color: #DFDFDF;
}

/*col*/
.col {
	display: flex;
	height: 4.24rem;
	padding: 0.2rem;
	background-color: #FFFFFF;
}

.col-item {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.col-item-img1 {
	height: 2rem;
	background: url(img/col-1.png) no-repeat 50% 0%;
	background-size: contain;
}

.col-item-img2 {
	height: 2rem;
	background: url(img/col-2.png) no-repeat 50% 0%;
	background-size: contain;
}

.col-item-img3 {
	height: 2rem;
	background: url(img/col-3.png) no-repeat 50% 0%;
	background-size: contain;
}
.col-item h3 {
	text-align: center;
} 

.col-item h4 {
	text-align: center;
	color: #777777;
	margin-top: 0.2rem;
}

.col-item:not(:last-child) {
	border-right: 1px solid #DFDFDF;
}

/*mod*/

.mod {
	background-color: #FFFFFF;
	margin-top: 0.3rem;
	padding:  0 0.2rem 0.2rem 0.2rem; 
}

.mod-title {
	font-size: 16px;
	line-height: 1.2rem;
	border-bottom: 1px solid #DFDFDF;
}

.mod-item {
	margin-top: 0.2rem;
	display: flex;
	justify-content: space-between;
}

.mod-item-img {
	height: 2.2rem;
	width: 2.2rem;
	background:  url(img/mod.png) no-repeat;
	background-size: contain;
	border: 1px solid #ED8476;
}

.mod-item-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mod-item-column .item {
	display: block;
	line-height: 1rem;
	width: 3.2rem;
	text-align: center;
	background-color: #EEEEEE;
}

/*article*/
.article {
	background-color: #FFFFFF;
	margin-top: 0.3rem;
}

.article-item-colum {
	display: flex;
	justify-content: flex-start;
	padding: 0.2rem;
	border-bottom: 1px solid #DFDFDF;
}

.image {
	height: 2rem;
	width: 2.8rem;
	background:  url(img/article.png) no-repeat;
	background-size: contain;
}

.content {
	margin-left: 0.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content .title {
	margin-top: 0.06rem;
	max-width: 86%;
	font-size: 16px;
	line-height: 0.5rem;
}

.content .time {
	margin-bottom: 0.06rem;
	color: #bebebe;
}

.article-item-colum-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.2rem;
}

.img-col {
	margin-top: 0.2rem;
	display: flex;
	justify-content: space-between;
}

.img-box {
	height: 2rem;
	width: 2.8rem;
	background:  url(img/article.png) no-repeat;
	background-size: contain;
}

.article-item-colum-2 .time{
	color: #BEBEBE;
	margin-top: 0.2rem;
}
